/*The below is a import of the font Varela Round from google. 
Located at https://fonts.google.com/specimen/Varela+Round?sidebar.open&selection.family=Varela+Round */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* The Css against below removes the defualt styling provided by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    color: black;
    font font-family: 'Varela Round', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

/* Centre both the Header and the Form */
header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    font-size: 1.3rem;
    text-align: center;
    padding: 2%;
    color: rgb(207, 27, 27);
}

/* The to do list entries and the associated buttons */
form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: red;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background: red;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    /* Display flex is used to align the button to the task */
    display: flex;
    /* Adds even space between the button against the task */
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.todo li {
    /* Pushes the icons to the far right */
    flex: 1;
}

.trash-btn,
.complete-btn {
    color: white;
    background: red;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.issues {
    display: flex;
    justify-content: center;
    align-items: center;
}

.issue-items {
    padding: 1rem;
    text-align: center;
}

.issues-btn {
    cursor: pointer;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.complete-btn{
    background: green;
}

.todo-item {
    padding: 0rem 0.5rem;
}



footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:auto;
    width:100%;
    background:white;
    text-align: center;
 }

 .cv:link,
 .cv:visited {
    cursor: pointer;
    color: blue;
    text-decoration: none;
 }

 .fa-check-square,
 .fa-trash {
     pointer-events: none;
 }

 .completed {
     text-decoration: line-through;
     opacity: 0.5;
 }

 .fall {
     transform: translateY(8rem) rotateZ(20deg);
     opacity: 0;
 }

 /* Start of styling for the filter box 
  Remove all styles to the new filter */
 select {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     outline: none;
     box-shadow: none;
     border: none;
 }

 .select {
     margin: 1rem;
     position: relative;
     overflow: hidden;
 }

 select{
     color: blue;
     width: 10rem;
     cursor: pointer;
     padding: 1rem;
 }

 .select::after {
     content: "\25bc";
     position: absolute;
     background: rgb(155, 121, 80);
     top: 0;
     right: 0;
     padding: 1rem;
     pointer-events: none;
     transition: all 0.3s ease;
 }

 .select:hover::after {
    background: white;
    color: rgb(155, 121, 80);
 }
  /* End of styling for the filter option */
